services:
  finance_ui:
    build:
      context: ./ui/finance-client  # Dockerfile nerede?
      dockerfile: Dockerfile
    ports:
      - "3000:5173"  # Tarayıcıda 3000 yazacağız, kutunun 5173'üne gidecek
    volumes:
      - ./ui/finance-client:/app  # CANLI YAYIN TÜNELİ (Hot Reload)
      - /app/node_modules         # (Burası teknik detay: node_modules karışmasın diye)
    environment:
      - CHOKIDAR_USEPOLLING=true  # Windows dosya izleme modu
  finance_api:
    build:
      context: ./api
      dockerfile: FinanceApp.API/Dockerfile
    ports:
      - "5055:8080"
    depends_on:
      db_server:
        condition: service_healthy  # EKLENDİ: Veritabanı "sağlıklıyım" demeden başlama!
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - ./api:/app  # Canlı yayın tüneli (Hot Reload için şart)

  db_server:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: kasa_admin
      POSTGRES_PASSWORD: kasa_sifresi
      POSTGRES_DB: kasa_db
    ports:
      - "5432:5432"
    volumes:
      - kasa_verileri:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kasa_admin -d kasa_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  db_admin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db_server

volumes:
  kasa_verileri: